@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;      
    --foreground: 222 47% 11%;     
    
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
 
    --primary: 39 74% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 2.1%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 11.76%;
    --card-foreground: 0 0% 98%;
 
    --primary: 39 74% 57%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --border: 0 0% 20%;
    --input: 0 0% 14.9%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300; 
  }
}